@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


:root {
    --percentage: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    background-color: #e0e5ec;
    margin: 0;
    font-family: "Poetsen One", sans-serif;
    font-size: 30px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.container {
    height: calc(100vh - 300px);
    display: flex;
    align-items: center;
    flex-direction: row;
}

.progress-bar-container {
    height: calc(100vh - 300px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.progress-bar {
    width: 70px;
    height: 100%;
    background: #e0e5ec;
    border-radius: 40px;
    box-shadow: 10px 10px 20px #babecc, -10px -10px 20px white;
    overflow: hidden;
    padding: 10px;
    display: flex;
    align-items: end;
    flex-direction: column-reverse;
}

.progress {
    width: 100%;
    height: var(--percentage);
    background: linear-gradient(to bottom, #f17a65, #3a4ee5);
    border-radius: 40px;
    animation: load 4s normal;
}

@keyframes load {
    from {
        height: 0%;
    }
    to {
        height: var(--percentage);
    }
    
}

.labels {
    position: relative;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column-reverse;
    padding-left: 15px;
}

.days {
    position: relative;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    padding-right: 15px;
}

.label {
    position: absolute;
    white-space: nowrap;
}

.label.completed {
    color: #ef5353;
}

.day {
    position: absolute;
    font-size: 20px;
    white-space: nowrap;
}

.progress-inner-label {
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
}

.start-label,
.end-label {
    margin-bottom: 10px;
}