@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body {
    background-color: rgb(225, 225, 225);
    font-family: "Poetsen One", sans-serif;
    font-size: 40px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.container {
    height: calc(100vh - 300px);
    display: flex;
    padding-left: 30%;
    align-items: center;
    flex-direction: row;
}

.label {
    position: absolute;
    white-space: nowrap;
    left: 80px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    /* Adjust as needed */
    height: 100%;
    padding: 20px;
    position: relative;
    overflow: visible;
    /* Allow labels outside the progress bar */
}

.progress {
    width: 70px;
    /* Adjust width of progress bar */
    height: 100%;
    background-color: lightblue;
    /* Change color as needed */
    position: relative;
    margin-bottom: 20px;
    /* Adjust spacing */
    border-radius: 40px;
    border: 7px solid rgb(103, 103, 192);
}

.progress-inner, .progress-inner-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5.75%;
}

.progress-inner {
    background: linear-gradient(#f17a65, #3a4ee5) no-repeat bottom;
    /* Change color as needed */
    border-radius: 40px;
}

.progress-inner-label {
    text-align: center;
    padding-bottom: 40px;
}

.start-label,
.end-label {
    margin-bottom: 10px;
    /* Adjust spacing */
}